<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />      
    </startup> 
    <appSettings>
        <add key ="GBSQL01_v2" value="Data Source=gbsql01v2;Initial Catalog=Dealer_Programs;Persist Security Info=True;User ID=SQLDatabaseUser;Password=Pompstire12!"/>
        <add key ="Maddenco" value="123"/>
        <add key ="Metaviewer" value="Data Source=GBMETAVIEWERSQL\METAVIEWER;Initial Catalog=MetaViewerIntegration;Persist Security Info=True;User ID=sa;Password=4aCN4Ns;"/>
        <add key ="TESTMODE" value="FALSE"/>
    </appSettings>  
</configuration>